################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/learn-tdd-netcore/Dominio/bin/Debug/netcoreapp3.1
