################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/learn-tdd-netcore/Dominio/bin/Debug/netcoreapp3.1
/learn-tdd-netcore/Dominio/obj
/learn-tdd-netcore/Dominio.Test/bin/Debug/netcoreapp3.1
/learn-tdd-netcore/Dominio.Test/obj
/learn-tdd-netcore/learn-tdd-netcore/obj
/learn-tdd-netcore/.vs/learn-tdd-netcore
/learn-tdd-netcore/learn-tdd-netcore/bin/Debug/netcoreapp3.1
/learn-tdd-netcore/Dados/bin/Debug/netcoreapp3.1
/learn-tdd-netcore/Dados/obj
/learn-tdd-netcore/Ioc/obj
/learn-tdd-netcore/Ioc/bin/Debug/netcoreapp3.1
/learn-tdd-netcore/Web/bin/Debug/netcoreapp3.1
/learn-tdd-netcore/Web/obj
